div#loading-overlay {
    display: flex;
}

div.category-item div {
    transform: translateY(105%);
    -webkit-transform: translateY(105%);
    -moz-transform: translateY(105%);
    -ms-transform: translateY(105%);
    -o-transform: translateY(105%);
    transition: 0.5s transform;
    -webkit-transition: 0.5s transform;
    -moz-transition: 0.5s transform;
    -ms-transition: 0.5s transform;
    -o-transition: 0.5s transform;
}

div.category-item:hover div {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}