img[alt="yummy logo"] {
    width: 3.125rem;
}

aside {
    left: -17.25rem;
}

.cursor-pointer {
    cursor: pointer;
}

div#side-navbar {
    width: 17.25rem;
}

div#loading-overlay {
    display: flex;
}

div.meal-item div {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: 0.5s transform;
    -webkit-transition: 0.5s transform;
    -moz-transition: 0.5s transform;
    -ms-transition: 0.5s transform;
    -o-transition: 0.5s transform;
}

div.meal-item:hover div {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}